

$primary-text-color: #757575;
$title-text-color: #212121;
$white-color: #FFFFFF;
$accent-color: #2196F3;
$logo-tetx-color: #000000;
$fill-icon-gray: #AFB1B8;
$footer-contacts: rgba(255, 255, 255, 0.1);
$footer-email-input: rgba(255, 255, 255, 0.6);

$background-color-backdrop: rgba(0, 0, 0, 0.2);
$background-color-footer: #2F303A;
$background-color-portfolio__description: rgba(33, 150, 243, 0.9);
$background-color-light-gray: #F5F4FA;
$background-hero: #C4C4C4;
$overlay-gradient: rgba(47, 48, 58, 0.4);
$overlay-text: rgba(47, 48, 58, 0.8);



$box-shadow-btn: 0px 4px 4px rgba(0, 0, 0, 0.15);

$box-shadow-button-hover: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$box-shadow-portfolio: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
0px 4px 4px 0px rgba(0, 0, 0, 0.06),
0px 1px 1px 0px rgba(0, 0, 0, 0.12);

$box-shadow-card: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

$border-radius-card: 0px 0px 4px 4px;  
$border: rgba(175, 177, 184, 1);
$border-gray: #ECECEC;
$border-color: #EEEEEE;
$border-email-input: rgba(255, 255, 255, 0.3);
$border-close__button: rgba(0, 0, 0, 0.1);

$border-form: rgba(33, 33, 33, 0.2);

$base-font-family: Roboto, sans-serif;
$primary-font-family: Raleway, sans-serif;
$normal: 400;
$regular: 500;
$bold: 700;
$base-font-size: 14px;
$base-line-height: 1.71;
$base-letter-spacing: 0.03em;

